@model ClassHub.Models.User
@{
        ViewBag.Title = "Login Or SignUp";    
}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title</title>
		
		<script type="text/javascript" src="~/Scripts/jquery-2.1.4.js"></script>
        <script type="text/javascript" src="~/Scripts/validation.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/scripts.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="~/Content/font3.css">
        <link rel="stylesheet" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/font-awesome.min.css">
		<link rel="stylesheet" href="~/Content/form-elements.css">
        <link rel="stylesheet" href="~/Content/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <!--<link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
		-->

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Join Us now...Or Login if you are already a member!</h1>
                            <div class="description">
                            	<p>
	                            	
                            	</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Login to our site</h3>
	                            		<p>Enter Email and Password to log on:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-key"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
                                    @using (Html.BeginForm("performLogin", "Class", FormMethod.Post, new { role = "form", @class = "login-form" }))
                                    {
				                   
				                    	<div class="form-group">
                                            @Html.LabelFor(x => x.email, new { @class = "sr-only" })
				                    		@*<label class="sr-only" for="form-username">Email</label>*@
				                        	@Html.TextBoxFor(x => x.email, null, new { type = "email", id = "email", placeholder = "Email...", @class = "form-username form-control" })
                                            @*<input id="email" type="email" name="formusername" placeholder="Email..." class="form-username form-control" >*@
				                        </div>
				                        <div class="form-group">
                                             @Html.LabelFor(x => x.password, new { @class = "sr-only" })
				                        	@*<label class="sr-only" for="form-password">Password</label>*@

                                            @Html.PasswordFor(x => x.password, new { @class = "form-password form-control", id = "form-password", placeholder = "password..." })
@*				                        	
                                            <input type="password" name="formpassword" placeholder="Password..." class="form-password form-control" id="form-password">*@
				                            @Html.ValidationMessageFor(x => x.password)
                                        </div>
										
				                        <button type="submit" id="loginButton" class="btn">Sign in!</button>
				                    
                                    }
			                    </div>
		                    </div>
		                
		                	
	                        
                        </div>
                        
                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>
                        	
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Sign up now</h3>
	                            		<p>Fill in the form to join us</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
                                    
                                    @using (Html.BeginForm("performSignup", "Class", FormMethod.Post, new { role = "form", @class="registration-form", id="reg-form"})){

				                    @*<form id="reg-form" role="form" action="" method="post" class="registration-form">*@
				                    	<div class="form-group">
                                            @Html.LabelFor(x=>x.fname, new {@class="sr-only"})
				                    		@*<label class="sr-only" for="form-first-name">First name</label>*@
                                            @Html.TextBoxFor(x=>x.fname, null, new{  id="form-first-name", placeholder="First Name...", @class="form-first-name form-control"})
                                            @Html.ValidationMessageFor(x => x.fname)
				                        	@*<input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">*@
				                        </div>
				                        <div class="form-group">
                                            @Html.LabelFor(x=>x.lname, new {@class="sr-only"})
				                        	@*<label class="sr-only" for="form-last-name">Last name</label>*@
                                            @Html.TextBoxFor(x=>x.lname, null, new{  id="form-last-name", placeholder="Last Name...", @class="form-last-name form-control"})
                                            @Html.ValidationMessageFor(x => x.lname)
				                        	@*<input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">*@
				                        </div>
				                        <div class="form-group">
                                             @Html.LabelFor(x=>x.email, new {@class="sr-only"})
				                        	@*<label class="sr-only" for="form-email">Email</label>*@
                                           
                                             @Html.TextBoxFor(x=>x.email, null, new{ type="email", id="reg-form-email", placeholder="Email...", @class="form-email form-control"})
                                            @Html.ValidationMessageFor(x => x.email)
                                            <span id="error-message" style="color:red"></span>
@*				                        	 
                                            <input type="email" name="email" placeholder="Email..." class="form-email form-control" id="reg-form-email">*@
				                        </div>
										<div class="form-group">
                                            @Html.LabelFor(x=>x.password, new {@class="sr-only"})
@*				                        	<label class="sr-only" for="form-email">Email</label>*@
                                            @Html.TextBoxFor(x=>x.password, null, new{ type="password", id="form-password", placeholder="Password...", @class="form-email form-control"})
                                            @Html.ValidationMessageFor(x => x.password)
@*				                        	<input type="password" name="form-email" placeholder="Password" class="form-email form-control" id="form-password">*@
				                        </div>
				                        
										<div class="form-group">
                                            @Html.Label("Teacher", new{@class ="radio-inline"})
                                            @Html.RadioButtonFor(x => x.type, "Teacher", new {@class ="radio-inline",  @checked="checked"})
                                            
										@*<label class="radio-inline">
                                            <input type="radio" name="optradio" checked="checked">Teacher</label>*@
                                            @Html.Label("Student", new{@class ="radio-inline"})
                                            @Html.RadioButtonFor(x => x.type, "Student",new { @class ="radio-inline" })
                                            
                                            @Html.ValidationMessageFor(x => x.type)
										@*<label class="radio-inline"><input type="radio" name="optradio">Student</label>	*@
										</div>
				                        <button type="submit" class="btn">Sign me up!</button>
				                    @*</form>*@
                                        
                                    }
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>

        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				
        			</div>
        			
        		</div>
        	</div>
        </footer>

        <!-- Javascript -->
        
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
